.othello {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.game{
    display:flex;
    flex-direction: row;

    .board{
        display:flex;
        flex-direction: column;
    }

}
.lines {
    display: flex;
    flex-direction: row;
}

h1{
    font-family: 'Patua One', cursive;
}

.squares {
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid black;
    background-color: green;
    cursor: pointer;

    &.jouable {
        background-color: rgb(178, 178, 224);
    }

    &.black {
        background-image: url('../assets/images/pieceWhite.png'); 
        background-repeat: no-repeat;
        background-position: center;
    }

    &.white {
        background-image: url('../assets/images/pieceBlack.png'); 
        background-repeat: no-repeat;
        background-position: center;
    }
}